body {
    background-color: black;
}
.container {
    padding-top: 100px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(16, 20px);
}

.pixel {
    width: 20px;
    height: 20px;
    border: solid white 1px;
}

.hover {
    background-color: white;
}