body {
    background-color: black;
}

.canvas-size-btn {
    border: none;
    display: block;
    padding: 15px 32px;
    text-align: center;
    color: white;
    background-color: green;
    font-size: 20px;
    text-decoration: none;
    align-content: space-evenly;
}

.container {
    padding-top: 100px;
    justify-content: center;
    display: grid;
}

.pixel {
    border: solid white 1px;
}

.hover {
    background-color: white;
}